form(method="POST" action="/authCallback")
  div
    | Username: 
    input(type="text" name="username")
  div
    | Password: 
    input(type="text" name="password")
  div
    input(type="submit" value="login")


