link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css', rel='stylesheet')
p.
  Mentorship blah blah blah blah!
  Mentorship blah blah blah blah!
  Mentorship blah blah blah blah!
  Mentorship blah blah blah blah!
  Mentorship blah blah blah blah!
br
center
  div.col-xs-6
    a(href="/signup/mentor")
      h2 Sign me up as a mentor!
      small Improving the world one mentee at a time
  div.col-xs-6
    a(href="/signup/mentee")
      h2 Sign me up as a mentee!
      small Find me some of that good mentorship
